<audio autoplay loop preload="auto">
  <source src="Content/Audio/ringtone.mp3" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>
<header>
  <h1>Gerador de Hash <b>C#</b></h1>
</header>
<div class="container center">
  <form #form="ngForm" (ngSubmit)="getHashedPassword(form)" [action]="actionUrl" method="POST" ngNativeValidate class="row">
    <div class="col-sm-12">
      <span>Digite sua senha</span><br /><br />
      <input name="password" class="input-tx" type="text" [(ngModel)]="passwordModel.password" required="required" />
    </div>
    <div class="col-sm-12"><button class="btn-padrao">Gerar</button></div>
    <div class="col-sm-12">
      <input name="hashedPassword" class="input-tx" readonly type="text"
      [(ngModel)]="hashedPasswordModel.hashedPassword" /><br />
      <button ngxClipboard
      [cbContent]="hashedPasswordModel.hashedPassword"
      type="button"
      class="btn-padrao" (cbOnSuccess)= "copied($event)">{{copyText}}</button><br>
      <small *ngIf="hashedPasswordModel.hashedPassword">Hash Gerada com Sucesso!</small>
    </div>
  </form>
</div>
<footer class="fixed-bottom center">
  <p>
    Desenvolvido por <b>Nicogambys</b><img style="width: 50px; padding-left: 14px;"
                                           src="Content/Images/ransomware.png"
                                           alt="Nicogambys" />
  </p>
</footer>
