@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  font-family: 'Quicksand', sans-serif;
}

.center {
  text-align: center;
}

h1 {
  font-weight: 700;
}

span {
  font-size: 25px;
}

header {
  text-transform: uppercase;
  text-align: center;
  background: #41abc3;
  color: #fff;
  padding: 15px;
  border-bottom: 10px solid #1186a7;
  margin-bottom: 90px;
}

.input-tx {
  width: 80%;
  padding: 5px;
  text-align: center;
  border: 2px solid #1186a7;
  border-radius: 40px;
  outline: none;
}

.btn-padrao {
  width: 250px;
  background: #1186a7;
  border: 2px solid #1186a7;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffff;
  font-weight: 700;
  border-radius: 27px;
  margin-top: 15px;
  margin-bottom: 25px;
  outline: none;
  transition: 0.7s;
  cursor: pointer;
}

.btn-padrao:hover {
  background: transparent;
  color: #1186a7;
}
  .btn-padrao:active, .btn-padrao:focus {
    outline: 0;
    -moz-outline-style: none;
  }
footer {
  border-top: 8px solid#41abc3;
  background: #1186a7;
  padding: 25px;
  color: #fff;
  padding-bottom: 10px;
}

/*Responsivo*/

@media (max-width: 500px) {
  .input-tx {
    width: 90%;
  }
}
@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.lds-rolling {
  position: relative;
  margin: auto;
  width: 50%;
  margin-top: 35vh;
  padding: 10px;
}

  .lds-rolling div,
  .lds-rolling div:after {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 8px solid #41abc3;
    border-top-color: transparent;
    border-radius: 50%;
  }

.lds-rolling div {
  -webkit-animation: lds-rolling 0.9s linear infinite;
  animation: lds-rolling 0.9s linear infinite;
  top: 100px;
  left: 100px;
}

.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.lds-rolling {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}


/*    border: 8px solid #41abc3;
*/